*{
    font-family: 'Lacquer', sans-serif;
    margin: 0px;
}

body{
    background-color: bisque;
    background-image: url("img/bartos.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.buttons{
    display: flex;
    flex-direction: column; 
    align-items: center;
    }

header{
    color: white;
    font-size: 7vw;
    text-align: center;
    }

.buttons button {
    margin: 10px;
    width: 30%;
    height: 40px;
    border-radius: 25px;
    background-color: rgba(176, 190, 109, 0.6);
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    }

.buttons button:hover {
    background-color: rgba(130, 140, 83, 0.8);
}

@media only screen and (min-width: 800px) {
    header{
    font-size: 3vw;
    }

    .buttons button {
        width: 20%;
        }
    }
