*{
    font-family: 'Lacquer', sans-serif;
    margin: 0px;
    box-sizing:border-box;
}

body{
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}


header{
    text-align: center;
    height: 30%;
    }

h1 {
    color: rgba(15, 40, 63, 0.918);
    text-shadow: 5px 5px rgb(255, 255, 255);
    font-size: 8rem;
}

p {
    font-size: small;
    color: silver;
}

.buttons{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 40%;
    background-image: url("../img/bartos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    }



.buttons button {
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(159, 189, 218, 0.767);
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    }

.buttons button:hover {
    background-color: rgba(21, 46, 63, 0.8);
}

footer{
    display: flex;
    height: 30%;
    color: silver;
    align-items: center;
    justify-content: center;
    -ms-flex-align: end;
}


 @media only screen and (max-width: 500px) {
        header h1{
        font-size: 5rem;
        }
